<div class="SidebarWrapper">
    <div class="Sidebar SidebarOpen">
        <div class="SidebarLogoWrap">
            <div class="SidebarLogo">
                <img class="logo" alt="" src="/images/logo.png" width="100%" />
            </div>
        </div>
        <ul class="SidebarList">
       <ul class="SidebarList">
<a class="sidebar-link" href="dashboard">
<li class="SidebarRow">
<div class="RowIcon">
<i class="fas fa-tachometer-alt" style="color: #ff0033"></i>
</div>
<div class="RowTitle">Dashboard</div>
</li>
</a>

<a class="sidebar-link" href="clients">
<li class="SidebarRow">
<div class="RowIcon">
<i class="fas fa-users" style="color: #ff0033"></i>
</div>
<div class="RowTitle">Clients</div>
</li>
</a>

<a class="sidebar-link" href="documents">
<li class="SidebarRow">
<div class="RowIcon">
<i class="fas fa-file" style="color: #ff0033"></i>
</div>
<div class="RowTitle">Documents</div>
</li>
</a>

<a class="sidebar-link" href="settings">
<li class="SidebarRow">
<div class="RowIcon">
<i class="fas fa-cog" style="color: #ff0033"></i>
</div>
<div class="RowTitle">Settings</div>
</li>
</a>

<a class="sidebar-link" href="admin">
<li class="SidebarRow">
<div class="RowIcon">
<i class="fas fa-user-shield" style="color: #ff0033"></i>
</div>
<div class="RowTitle">Admin</div>
</li>
</a>

<a class="sidebar-link" href="logout">
<li class="SidebarRow">
<div class="RowIcon">
<i class="fas fa-sign-out-alt" style="color: #ff0033"></i>
</div>
<div class="RowTitle">Logout</div>
</li>
</a>
</ul>