<div class="popup">
  <div class="popup-inner">
    <button class="close-btn">
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="HighlightOffRoundedIcon"
      >
        <path
          d="M13.89 8.7 12 10.59 10.11 8.7a.9959.9959 0 0 0-1.41 0c-.39.39-.39 1.02 0 1.41L10.59 12 8.7 13.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l1.89 1.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l1.89-1.89c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.38-1.41 0zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
        ></path>
      </svg>
    </button>
    <div class="popupWrap">
      <h3>Edit order<font class="maincolor bold">#1</font></h3>
      <div class="addNewOrderWrap">
        <div class="addNewOrderForm">
          <div class="orderDetails">
            <div class="input-group">
              <input
                type="text"
                placeholder="Client name"
                class="orderDetailsInput orderDetailsInputHalf"
                required=""
                value="david"
              /><input
                type="text"
                placeholder="Phone number"
                class="orderDetailsInput orderDetailsInputHalf"
                required=""
                value="12312312312"
              />
            </div>
            <div class="input-group">
              <input
                type="textarea"
                placeholder="Order details"
                class="orderDetailsInput"
                required=""
                value="Sharmoot"
              />
            </div>
            <div class="input-group">
              <input
                type="text"
                placeholder="Country"
                class="orderDetailsInput orderDetailsInputHalf"
                required=""
                value="zimbaboe"
              /><input
                type="text"
                placeholder="Street, home number"
                class="orderDetailsInput orderDetailsInputHalf"
                required=""
                value="teez"
              />
            </div>
            <div class="input-group">
              <input
                type="text"
                placeholder="City"
                class="orderDetailsInput orderDetailsInputHalf"
                required=""
                value="mosco"
              /><input
                type="text"
                placeholder="Postal code"
                class="orderDetailsInput orderDetailsInputHalf"
                required=""
                value="23123"
              />
            </div>
            <div class="input-group">
              <select
                class="orderDetailsSelect"
                placeholder="Pick status"
                required=""
              >
                <option>Open</option>
                <option>Closed</option>
                <option>Shipped</option>
              </select>
            </div>
          </div>
          <div class="productDetails">
            <div class="newOrderTable">
              <table>
                <thead>
                  <tr>
                    <th>Product name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Total price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        type="text"
                        placeholder="Product name"
                        class="productDetailsInput"
                        required=""
                        value=""
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        placeholder="1"
                        class="productDetailsInput"
                        required=""
                        value="1"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        placeholder="10.00"
                        class="productDetailsInput"
                        required=""
                        value="0"
                      />
                    </td>
                    <td>0</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="submitWrap">
        <div class="productSummary">
          <div class="productSummaryLeft">
            <span class="addNewLine">+ Add next product</span>
          </div>
          <div class="productSummaryRight">
            <span class="totalCost">Total price of products - 0zł</span>
          </div>
        </div>
        <div class="submitNewOrder">
          <button class="submitNewOrderBtn">
            <span class="addOrderText">Save changes</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
