<div class="SidebarWrapper">
    <div class="Sidebar SidebarOpen">
        <div class="SidebarLogoWrap">
            <div class="SidebarLogo">
                <img class="logo" alt="" src="/images/logo.png" width="100%" />
            </div>
        </div>
        <ul class="SidebarList">


        </ul>
    </div>
</div>