<div class="navbar">
    <div class="navbarWrap">
        <div class="navbarRow"><button class="hamburgerMenu hamburgerMenuOpen"><div></div><div></div><div></div></button></div>
        <div class="navbarRow">
            <div class="userNavbar ">
                <div class="userLogo"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="AccountCircleRoundedIcon"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path></svg></div>
                <!-- CHECK IF email in Cookie-->
                <script>
                </script>



                <div class="userLogged">Logged as: user@anywhererpa.com</div>
                <div class="navbarFlex">
                    <div class="userLogo"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium maincolor clickable css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="LogoutRoundedIcon"><path d="M5 5h6c.55 0 1-.45 1-1s-.45-1-1-1H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h6c.55 0 1-.45 1-1s-.45-1-1-1H5V5z"></path><path d="m20.65 11.65-2.79-2.79c-.32-.32-.86-.1-.86.35V11h-7c-.55 0-1 .45-1 1s.45 1 1 1h7v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.19.2-.51.01-.7z"></path></svg></div>
                    <i class="fa-sharp fa-solid fa-right-from-bracket " style="color: #ff0033;">    <a href="/logout">
                        Logout
                        </a></i>
                </div>
            </div>
        </div>
    </div>
</div>