<%- include('partials/header') %>
    <script src="/scripts/upload.js"></script>

    <%- include('partials/sidebar') %>

        <div class="bodyWrap">
            <div class="contentLoginWrap">
                <h1>Client
                    <font class="maincolor">Management</font>
                </h1>

                <div class="infoSide">
                    <div class="loginWrap">
                        <h2>Hello again!</h2>
                        <div class="loginForm">
                            <%- include('partials/Fileupload.ejs') %>
                        </div>
                    </div>




                </div>

                </html>