

<%- include('partials/header') %><script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./scripts/main.js"></script>
<%- include('partials/header') %>
<%- include('partials/sidebar') %>



<div class="bodyWrap">
  <div class="contentLoginWrap">

    <div class="infoSide">
      <div class="loginWrap">
        <h2>Hello again!</h2>
        <div id="firebaseui-container"></div>
        <div id="firebaseui-auth-container"></div>
        <p>Log in to your account to get access to app.</p>


        </ul>

      </div>
    </div>
  </div>
</div>
</div>
</body>