<%- include('partials/header') %>
<%- include('partials/sidebar') %>


<div class="popup">

  <div class="popup__content">
    <div class="popup__left">
      <img src="img/nat-8.jpg" alt="Tour photo" class="popup__img">
      <img src="img/nat-9.jpg" alt="Tour photo" class="popup__img">
    </div>
    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
      <p class="popup__text">

        Lorem
        <a href="#" class="popup__text">ipsum dolor sit amet</a>, consectetur adipisicing elit.
        Accusamus asperiores atque commodi consequatur cumque, cupiditate delectus
        doloremque doloribus ducimus earum eius enim error est et eveniet ex
        exercitationem explicabo facilis fuga fugiat hic id illo illum impedit
        <a href="#" class="popup__text">inventore ipsa</a> iste iure iusto laboriosam
        laborum libero magnam magni maxime minima molestiae molestias natus
    </div>
    </p>
  </div>
</div>
</div>

</div>
</body>

</html>