<!DOCTYPE html>

<head>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
    <script src="/scripts/config.js"></script>
    <script src="/scripts/common.js"></script>
        <script src="/scripts/auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css" />



    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/main.js"></script>
</head>
<script defer>
        // FirebaseUI config.

        window.addEventListener('load', function() {
            initApp();
        });

       
        </script>


        <%- include('partials/sidebar') %>

        </script>
        <div class="bodyWrap">
            <div class="contentLoginWrap">

                <div class="infoSide">
                    <div class="loginWrap">
                        <h2>Hello again!</h2>
                        <div id="firebaseui-container"></div>
                        <div id="firebaseui-auth-container"></div>
                        <p>Log in to your account to get access to app.</p>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </body>